.button {
    width: 300px;
    height: 100px;
    padding: 10px 25px;
    border: 2px solid #000;
    margin: 40px;
    font-size: 2rem;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}

.button:hover {
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}