.ImgButton {
    width: 80px;
    height: 60px;
    padding: 10px 25px;
    border:  none;
    margin-top: 20px;
    background-position: right bottom;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}