.miniDiv {
    /* position: relative;
    left: 33%;
    top: 10%; */

    text-align: center;
    margin: 0;
} 

.img1 {
    display: inline-block;
}

.img2 {
    display: inline-block;
}

.img3 {
    display: inline-block;
}

.img4 {
    display: inline-block;
}

.img5 {
    display: inline-block;
}

.img6 {
    display: inline-block;
}

.gameImg {
    margin: 50px;
}