.box {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 0;
    padding: 7px 10px;
    min-width: 150px;
    max-width: 100%;
    color: #555;
    font-size: 18px;
    font-weight: 600;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
}
  
  .box p {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .div {
    text-align: center;
  }