

.passwordFormDiv {
    width: 360px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    border: none;
    font-size: ;
}


.passwordField {
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 240px;
    margin-bottom: 10px;
    position: relative;
}

.passwordDiv {
    position: relative;
    top: 10px;
    font-size: 20px;
}


.rePasswordDiv {
    position: relative;
    top: 25px;
}

.rePasswordField {
    font-size: 20px;
    padding: 10px;
    border: none;
    width: 240px;
    margin-bottom: 10px;
    position: relative;
}

.passwordCheckSpan {
    font-size: 13px;
}

.passwordConfirmCheckSpan {
    font-size: 13px;
}

#nextToPhoneBirthButton {
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 300px;
    background-color: #BED0FE;
    margin-top: 60px;
    margin-bottom: 5px;
    color: black;
}