.entireDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.innerDiv {
    position: relative;
    top: 15%;
}

.phoneBirthFormDiv {
    width: 360px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    border: none;
}

#phoneBirthP {
    text-align: center;
    position: relative;
    top: -20px;
}

.phoneField {
    font-size: 14px;
    padding: 10px;
    border: none;
    width: 260px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
}

.birthDiv {
    position: relative;
    top: 10px;
}

.birthField {
    font-size: 14px;
    padding: 10px;
    border: none;
    width: 260px;
    margin-bottom: 10px;
    position: relative;
    top: 7px;
}

#nextToNicknameButton {
    font-size: 20px;
    border: none;
    padding: 10px;
    width: 300px;
    background-color: #BED0FE;
    margin-top: 60px;
    margin-bottom: 5px;
    color: black;
}