/* .entireDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.innerDiv {
    position: relative;
    top: 15%;
}


.emailFormDiv {
    width: 360px;
    height: 180px;
    background-color: #EEEFF1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    border: none;
}

.emailField {
    font-size: 14px;
    padding: 10px;
    border: none;
    width: 260px;
    margin-bottom: 10px;
}

.emailDiv {
    position: relative;
    top: 10px;
}

.emailConfirmSpan {
    font-size: 13px;
}

.emailButton {
    position: relative;
    top: 10px;
}

#nextToPasswordButton {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 300px;
    background-color: rgba(177, 231, 222, 1);
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
} */