.entireDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #TitleImg {
    position: relative;
    display: block;
    margin: 0px auto;
} */

#startMent{
    font-size: xx-large;
    text-align: center;
}

#startTopTitle {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

#startbottomTitle {
    font-size: 60px;
    text-align: center;
    color: #7AA1FA;
    margin-top: 0;
    margin-bottom: 2%;
}

.buttonDiv {
    text-align: center;
    position: relative;
}

.guestDiv {
    text-align: center;
    position: relative;
    top: 10px;
}

#guestButton {
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 20px;
}

.socialButtonDiv {
    text-align: center;
    position: relative;
}

#Social {
    text-align: center;
}